<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sozpic.miniland">


    <application
        tools:replace="android:label,android:theme"
        android:name="com.sozpic.miniland.AppMiniland"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppBaseTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="wp7jcmy4aa54kxhvfx9d"/>
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="tq4rty8q7u9qmye9k44th5t7hfqxnmjm"/>

    </application>

</manifest>
